<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多对多添加标签</title>
</head>
<body>
    <h1>修改标签</h1>
    <form action="/report_add_label" method="post">
        <input type="text" name="id" id="id" value="{{.report.Id}}"> <br>
        <input type="text" name="title" id="title" value="{{ .report.Title }}"> <br>
        <input type="text" id="author" name="author" value="{{.report.Author}}"> <br>
        <input type="text" id="description" name="description" value="{{.report.Description }}"> <br>
        <input type="text" id="read_count" name="read_count" value="{{ .report.ReadCount }}"><br>
        <input type="text" id="classify" name="classify" value="{{ .report.Classify }}"> <br>
        <h2>已经存在的文章标签:</h2>
        {{ range $i, $label := .existLabels }}
            <input type="checkbox" value="{{ $label.Id }}" name="existLabels" checked> &nbsp;{{ $label.Name }}
        {{ end }}
        <h2>勾选添加的文章标签:</h2>
        {{ range $i, $label := .addLabels }}
             <input type="checkbox" value="{{ $label.Id }}" name="addLabels"> &nbsp;{{ $label.Name }}
        {{ end }}
        <br>
        <input type="submit" value="确认修改">
    </form>
</body>
</html>